[package]
name = "atlas-web"
version = "0.1.0"
edition = "2024"

[dependencies]

tokio = { workspace = true }
axum = { workspace = true }


tracing = { workspace = true }
anyhow = { workspace = true }

